
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>

  </head>
  <body>

    <div class="container">
      <div class="row">
        
       
        
        <div class="col-md-4">
          
          <div class="card mb-4 shadow-sm">
            <iframe width="60%" height="500" src="{{ ifram_url}}" frameborder="0"
             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
         
        </div>
  
     
      
        
      </div>
    </div>
    

</body>

</html>